
<head>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body class="main-bg">
    <aside class="menu">
        <div class="main-content menu-content">
            <div class="imgSize">
                <img src="../static/img/encrypted_2592317.png" alt="security icon">
            </div>
                <ul>
                    <li><a href="/register_user">Cadastrar Usuários</a></li>
                    <li><a href="/register_sensor">Cadastrar Sensores</a></li>
                    <li><a href="/register_actuator">Cadastrar Atuadores</a></li>
                    <li><a href="/list_users">Listar Usuários</a></li>
                    <li><a href="/sensors">Listar Sensores</a></li>
                    <li><a href="/actuators">Listar Atuadores</a></li>
                </ul>
        </div>
    </aside>
    <div class="menu-spacing"></div>
    <section id="intro" class="intro main-bg section">
        <div class="main-content intro-content">
            <div class="intro-text-content">
                <h2>SecureGuard Solutions</h2>
                <p>Bem-vindo à SecureGuard Solutions, sua parceira confiável em segurança. Somos especialistas em proteger pessoas, propriedades e ativos valiosos. Com soluções personalizadas e uma equipe altamente treinada, estamos aqui para garantir sua tranquilidade, 24 horas por dia, 7 dias por semana.</p>
            </div>
            <div class="intro-img">
                <img src="../static/img/undraw_security_on_re_e491.svg" alt="java script">
            </div>
        </div>
    </section>
    <section id="top3" class="white-bg section">
        <div class="grid-one-content main-content">
            <h2>recent jobs</h2>
            <p class="p-espace"></p>
            <div class="grid">
                <article>
                    <h2>Buckingham Palace.</h2>
                    <p>Como residência oficial da monarquia britânica, o Palácio de Buckingham requer medidas de segurança rigorosas para proteger a família real, bem como as instalações e artefatos históricos dentro do palácio.</p>
                </article>
                <article>
                    <h2>London tower</h2>
                    <p>Com mais de mil anos de história, a Torre de Londres é um local icônico que abriga as Joias da Coroa Britânica e serve como uma importante atração turística.<p>
                </article>
                <article>
                    <h2>Pentagon</h2>
                    <p>Como sede do Departamento de Defesa dos Estados Unidos, o Pentágono é um dos edifícios de escritórios mais seguros do mundo.</p>
                </article>
            </div>
        </div>
    </section>



    <section id="pricing" class="white-bg section">
        <div class="main-content top3-content">
            <h2>PRICING</h2>
            <p>Aqui esta algums dos nosso pacotes e seus respectivos preços, caso queira um numero de cameras, sessores dentre outros sistemas de segurança favor nos contatar no formulario abaixo </p>
            <div class="responsive-table">
                <table>
                    <caption>pricing table</caption>

                    <thead>
                        <tr>
                            <th>Pacote 1 </th>
                            <th>Pacote 2 </th>
                            <th>Pacote 3 </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>4 cameras</td>
                            <td>8 cameras</td>
                            <td>12 cameras</td>
                        </tr>
                        <tr>
                            <td>cerca eletrica</td>
                            <td>cerca eletrica</td>
                            <td>cerca eletrica</td>
                        </tr>
                        <td>1 sesor de movimento</td>
                        <td>2 sesor de movimento</td>
                        <td>4 sesor de movimento</td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td>2500R$</td>
                            <td>5000R$</td>
                            <td>6500R$</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>
    <section id="contact" class="intro main-bg section">
        <div class="main-content intro-content">
            <div class="intro-text-content">
                <h2> CONTACT US</h2>
            </div>
            <div class="intro-img">
                <img src="../static/img/undraw_security_on_re_e491.svg" alt="java script">
            </div>
            <div class="contact-form">
                <fieldset class="form-grid">
                    <legend class="legenda">contact us</legend>
                    <div class="form-group">
                        <label for="first-name">first name</label>
                        <input placeholder="digite seu nome" type="text" name="first-name" id="first-name">
                    </div>
                    <div class="form-group">
                        <label for="last-name">last name</label>
                        <input placeholder="digite seu sobrenome" type="text" name="last-name" id="last-name">
                    </div>
                    <div class="form-group full-width">
                        <label for="email">e-mail</label>
                        <input placeholder="digite seu email" type="email" name="email" id="email">
                    </div>
                    <div class="form-group full-width">
                        <label for="message">mensage</label>
                        <textarea name="message" id="message" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group full-width">
                        <button type="submit">send message</button>              
                    </div>
                </fieldset>
            </div>
        </div>
    </section>
</body>
