<head>
    <link rel="stylesheet" href="../static/css/login.css">
<head/>
</html>
    <body>
        <form action = "http://localhost:8080/validated_user" method = "post">
            <div class="main-container">
                <p>cadastrar novo usuario</p>
                <div class="box">
                    <h2>Usuário:</h2>
                    <p><input type = "text" class="login-input" name = "user" placeholder="User" required/></p>
                    <h2>Senha:</h2>
                    <p><input type = "text" class="login-input" name = "password" placeholder="Password" required/></p>
                    <p><input type = "submit" class="login-button" value = "submit"/></p>
                </div>
            </div>
        </form>
    </body>
</html>
